{% macro guideAsset(img, link=true) %}

    {% set url = craft.app.assetManager.getPublishedUrl('@wsydney76/guide/assetbundles/resources/images', true, img) %}

    {% set attr = {
        src: url,
        style: {
            'margin-top': '12px',
            'margin-bottom': '12px',
            'max-width': '100%',
            'height': 'auto'
        }
    } %}

    {% if link %}
        <a href="{{ url }}" target="_blank"><img {{ attr(attr) }}></a>
    {% else %}
        <img {{ attr(attr) }}>
    {% endif %}
{% endmacro %}
