{% set class = class ?? '' %}

<a class="btn" id="{{ id }}-btn">{{ caption }}</a>

{% js at POS_END %}
    var $btn = $('#{{ id }}-btn');

    $btn.on('click',function(){
      $.get('{{ url }}')
        .done(function(data) {
            hud = new Garnish.Modal(  data  , {resizable: true, draggable:true} );
        })
        .fail(function() {
            alert("error");
        });
    });
{% endjs %}

