{% from 'wsguide/macros.twig' import guideAsset %}

<h2>Hello {{ currentUser.firstName }}! </h2>

<p>Here is some help.</p>


<h1>TBD: This content is a stub.</h1>


<h3 data-guide-section>Live Preview</h3>
<p>To get an idea as to how a page is starting to look as you begin to enter content into it, you may use the Live Preview feature in Craft. Live Preview updates as you type, helping you make layout and design decisions as your content is being created. To exit Live Preview, use the "Close Live Preview" button in the top-left.</p>

<hr>
    <h2>Here will be some help</h2>
<hr>

{%  include 'wsguide/content/articlebody.twig' %}

<hr>


